/* Variables */

/* Styles */
body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  color: #4d4d4d;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-smoothing: antialiased;
  font-weight: 300;
  line-height: 1.4em;
  margin: 0 auto;
  min-width: 230px;
}

#app {
  background: #fff;
}

header {
  background-color: #EEEEFF;
  padding: 5px;
}

main {
  display: flex;
}

form {
  background-color: #EEFFEE;
  width: 60%;
}

.visualizer {
  background-color: #FFEEEE;
  width: 40%;
}

nav {

}

nav a {
  color: black;
  margin-right: 0.5rem;
  text-decoration: none;
}

nav a.active {
  color: blue;
}

nav a.active:hover {
  cursor: default;
}

#visualizerCanvas {
    border: 1px solid black;
}

/* SWITCH */
input.switch[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label.switch {
	cursor: pointer;
	text-indent: -9999px;
	width: 60px;
	height: 30px;
	background: #089de1;
	display: block;
	border-radius: 15px;
	position: relative;
}

label.switch:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input.switch:checked + label {
	background: #ea4b95;
}

input.switch:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label.switch:active:after {
	width: 100px;
}
/* SWITCH ------*/


.radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radio-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .radio-checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .radio-checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .radio-checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .radio-checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
